{% extends 'killmails.html' %}

{% block secondary_tables %}
    <table>
        <tbody>
        <tr>
            <td>
                <table class="kb-table kb-kill-details__victim">
                    <tr>
                        <td rowspan="5" class="kb-table-footer">
                            <img class="kb-icon-64"
                                 src="https://image.eveonline.com/Alliance/{{ alliance.id }}_64.png" alt="">
                        </td>
                    </tr>

                    <tr>
                        <td>Alliance:</td>
                        <td>{{ alliance.name }}</td>
                    </tr>

                    <tr>
                        {% if alliance.faction %}
                            <td>Faction:</td>
                            <td>{{ alliance.faction.name }}</td>
                        {% else %}
                            <td rowspan="2"></td>
                        {% endif %}
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div>Kills: {{ stats.kills }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Losses: {{ stats.losses }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}