{% extends 'killmails.html' %}

{% block secondary_tables %}
    <table>
        <tbody>
        <tr>
            <td>
                <table class="kb-table kb-kill-details__victim">
                    <tr>
                        <td rowspan="3" class="kb-table-footer">
                            <img class="kb-icon-64"
                                 src="https://image.eveonline.com/Character/{{ character.id }}_64.jpg" alt="">
                        </td>
                        <td>Character:</td>
                        <td>{{ character.name }}</td>

                        {% if character.alliance %}
                            <td rowspan=3 class="kb-table-footer">
                                <img class="kb-icon-64"
                                     src="https://image.eveonline.com/Alliance/{{ character.alliance.id }}_64.png"
                                     alt="">
                            </td>
                        {% else %}
                            <td rowspan=3 class="kb-table-footer"></td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Corp:</td>
                        <td><a href="/corporation/{{ character.corporation.id }}">{{ character.corporation.name }}</a>
                        </td>
                    </tr>

                    <tr>
                        {% if character.corporation.faction %}
                            <td>Faction:</td>
                            <td><a href="/faction/{{ character.corporation.faction.id }}">{{ character.corporation.faction.name }}</a></td>
                        {% elif character.corporation.alliance %}
                            <td>Alliance:</td>
                            <td><a href="/alliance/{{ character.alliance.id }}">{{ character.alliance.name }}</a>
                            </td>
                        {% else %}
                            <td rowspan="2"></td>
                        {% endif %}
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div>Kills: {{ stats.kills }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Losses: {{ stats.losses }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}