{% extends 'killboard/base.html' %}

{% block main_tables %}
    <table>
        <tbody>
        <tr class="kb-table-header">
            <th>Ship</th>
            <th>Victim</th>
            <th colspan="2">Alliance</th>
            <th>Corporation</th>
            <th>System</th>
            <th>Time</th>
            <th><abbr title="Involved Parties">Inv</abbr></th>
            <th>C</th>
        </tr>
        {% for killmail in killmails %}
            {% set is_ally = killmail.victim.id in allies
            or killmail.corporation.id in allies
            or killmail.alliance.id in allies %}
            <tr class="{{ 'kb-table-killmail-loss' if is_ally else 'kb-table-killmail-win' }} kb-table-killmail">
                <td class="kb-table-killmail-column">
                    <table>
                        <tr>
                            <td>
                                <img class="kb-table-image" src="https://image.eveonline.com/Type/{{ killmail.ship_type.id }}_32.png"
                                     alt="Ship Logo">
                            </td>
                            <td>
                                <div><a href="/killmail/{{ killmail.id }}">{{ killmail.ship_type.name }}</a></div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="kb-table-killmail-column">
                    <div class="kb-table-row-row">
                        <div class="kb-table-row-column">
                            <img class="kb-table-image" src="https://image.eveonline.com/Character/{{ killmail.victim.id }}_32.jpg"
                                 alt="Character Logo">
                        </div>
                        <div class="kb-table-row-column kb-table-text"><a
                                href="/character/{{ killmail.victim.id }}">{{ killmail.victim.name }}</a></div>
                    </div>
                </td>
                <td class="kb-table-killmail-column" colspan="2">
                    <div class="kb-table-row-row">
                        <div class="kb-table-row-column kb-table-image">
                            {% if killmail.alliance %}
                                <img class="kb-table-image" src="https://image.eveonline.com/Alliance/{{ killmail.alliance.id }}_32.png"
                                     alt="Alliance Logo">
                                </div>
                                <div class="kb-table-row-column kb-table-text"><a
                                        href="/alliance/{{ killmail.alliance.id }}">{{ killmail.alliance.name }}</a>
                                </div>
                            {% else %}
                                <p>No Alliance</p>
                            {% endif %}
                    </div>
                </td>
                <td class="kb-table-killmail-column">
                    <div class="kb-table-row-row">
                        <div class="kb-table-row-column kb-table-image">
                            <img class="kb-table-image" src="https://image.eveonline.com/Corporation/{{ killmail.corporation.id }}_32.png"
                                 alt="Coproration Logo">
                        </div>
                        <div class="kb-table-row-column kb-table-text"><a
                                href="/corporation/{{ killmail.corporation.id }}">{{ killmail.corporation.name }}</a>
                        </div>
                    </div>
                </td>
                <td class="kb-table-killmail-column">
                    <a href="/system/{{ killmail.solar_system.id }}">{{ killmail.solar_system.name }}</a>
                    ({{ '%0.1f' % killmail.solar_system.security_status }} {{ killmail.solar_system.security_class }})
                    {{ killmail.solar_system.region.name }}
                </td>
                <td class="kb-table-killmail-column">
                    {{ killmail.km_date.strftime('%H:%M') }}
                </td>
                <td class="kb-table-killmail-column">
                    {{ killmail.attackers.count() }}
                </td>
                <td>0</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
