{% extends 'killboard/base.html' %}

{% macro process_attacker(attacker_data, main_mail) %}
    <tr>
        <td class="kb-table-row-involved">
            <table>
                <tr>
                    <td><img class="kb-icon-32"
                             src="https://image.eveonline.com/Character/{{ attacker_data.character.id }}_32.jpg"
                             alt=""></td>
                    <td>
                        <div>
                            <a href="/character/{{ attacker_data.character.id }}">{{ attacker_data.character.name }}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><img class="kb-icon-32"
                             src="https://image.eveonline.com/Type/{{ attacker_data.ship.id }}_32.png" alt=""></td>
                    <td>
                        <div>{{ attacker_data.ship.name }}</div>
                    </td>
                </tr>
                <tr>
                    <td><img class="kb-icon-32"
                             src="https://image.eveonline.com/Type/{{ attacker_data.weapon.id }}_32.png" alt=""></td>
                    <td>
                        <div>{{ attacker_data.weapon.name }}</div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div>Damage: {{ attacker_data.damage_done }}</div>
            <div>Percent: {{ '%0.1f' % ((attacker_data.damage_done / main_mail.damage_taken) * 100) }}%</div>
            <div>Final Blow: {{ attacker_data.final_blow }}</div>
        </td>
    </tr>
{% endmacro %}

{% macro process_items(items) %}
    <table>
        {% for flag_id, item_list in items.items() %}
            {% if item_list %}
                {% for item in item_list %}
                <tr class="kb-table-killmail-item">
                    <td>
                        <div>{{ item.flag_name_text }}</div>
                    </td>
                    <td><img class="kb-icon-32"
                             src="https://image.eveonline.com/Type/{{ item.id }}_32.png" alt=""></td>
                    <td>
                        <div>{{ item.name }}</div>
                    </td>
                    <td>
                        <div>{{ item.quantity_dropped }}/{{ item.quantity_destroyed }}/{{ item.quantity_dropped + item.quantity_destroyed }}</div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="kb-table-killmail-item">
                    <td>
                        <div>{{ flags[flag_id].flagText }}</div>
                    </td>
                    <td></td>
                    <td>
                        <div>Empty</div>
                    </td>
                    <td></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endmacro %}


{% block main_tables %}
    <table class="kb-subtable tb-table-kill-details">
        <tr>
            <td>
                <table class="kb-table kb-kill-details__victim">
                    <tr>
                        <td rowspan="3" class="kb-table-footer">
                            <img class="kb-icon-64"
                                 src="https://image.eveonline.com/Character/{{ killmail.victim.id }}_64.jpg" alt="">
                        </td>
                        <td>Victim</td>
                        <td>{{ killmail.victim.name }}</td>

                        {% if killmail.victim.alliance %}
                            <td rowspan=3 class="kb-table-footer">
                                <img class="kb-icon-64"
                                     src="https://image.eveonline.com/Alliance/{{ killmail.alliance.id }}_64.png"
                                     alt="">
                            </td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Corp:</td>
                        <td>{{ killmail.victim.corporation.name }}</td>
                    </tr>

                    <tr>
                        <td>{{ 'Faction' if killmail.victim.faction else 'Alliance' }}:</td>
                        <td>{{ killmail.victim.alliance.name }}</td>
                    </tr>
                </table>

                <H3>Involved parties: {{ killmail.attackers.count() }}</H3>

                <div id='involved_list'>
                    <table>
                        <tbody>
                        {% for attacker in (killmail.attackers.all() | sort(reverse=True, attribute='damage_done')) %}
                            {{ process_attacker(attacker, killmail) }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if killmail.comments %}
                    <table>
                        <tbody>
                        <div>Comments Here</div>
                        </tbody>
                    </table>
                {% endif %}
            </td>

            <td class="tb-table-kill-details">
                <table class="tb-table-kill-details-table">
                    <tr>
                        <td rowspan=3 class="kb-table-footer">
                            <img class="kb-icon-64"
                                 src="https://image.eveonline.com/Render/{{ killmail.ship_type.id }}_64.png" alt="">
                        </td>

                        <td>Ship:</td>
                        <td>
                            <div>{{ killmail.ship_type.name }}</div>
                            <div>{{ killmail.ship_type.type.name }}</div>
                        </td>

                        {# TODO: RelatedKill? #}
                    </tr>

                    <tr>
                        <td>Location:</td>
                        <td>
                            <div>
                                {{ killmail.solar_system.name }}
                                ({{ '%0.1f' % killmail.solar_system.security_status }} {{ killmail.solar_system.security_class }})
                                {{ killmail.solar_system.constellation.region.name }}
                            </div>
                            <a class="kb-external"
                               href="http://evemaps.dotlan.net/map/{{ killmail.solar_system.constellation.region.name }}/{{ killmail.solar_system.name | replace(' ', '_') }}">dotlan</a>
                        </td>
                    </tr>

                    <tr>
                        <td>Damage:</td>
                        <td>{{ killmail.damage_taken }}</td>
                    </tr>
                </table>

                <H3>Ship details</H3>
                <div id="ship_details">
                    {{ process_items(killmail.items_info) }}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}