{% extends 'killmails.html' %}

{% block secondary_tables %}
    <table>
        <tbody>
        <tr>
            <td>
                <table class="kb-table kb-kill-details__victim">
                    <tr>
                        <td>Solar System:</td>
                        <td>{{ solar_system.name }}</td>
                    </tr>
                    <tr>
                        <td>Constellation:</td>
                        <td>{{ solar_system.constellation.name }}</td>
                    </tr>
                    <tr>
                        <td>Region:</td>
                        <td>{{ solar_system.region.name }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>Security Status:</td>
                        <td>({{ '%0.1f' % solar_system.security_status }} {{ solar_system.security_class }})</td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td>
                            <div>Kills: {{ stats.kills }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Losses: {{ stats.losses | default(0) }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}